<body>
    <section id="homeIntroContain">
        <div id="titleContain">
            <h1 id="hometitle">The Tech Blog</h1>
    </section>
        <section class="HomeCardContain">

            <div class="homecard" id="card_menu">
                <div class="infoContian">
                    <input type="text" name="title" class="cardbtn" id="postTitle" placeholder="Enter Title"></input>
                    <a class="cardbtn">{{username}}</a>
                </div>
                <input type="text" id="Content" name="content" placeholder="Enter Post"></input>
            </div>
            <button class="btnPostSubmit" onclick="sendPost">Create Post</button>
        </section>


</body>